* {
  background-color: hsl(210, 60%, 98%);
  caret-color: transparent;
}

body {
  margin: 0;
  padding: 0 0;
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
